.popup {
  background-color: rgba(0, 0, 0, 0.5);
  min-width: 880px;
  min-height: 100%;
  position: fixed;
  top: 0;
  display: flex;
  visibility: hidden;

  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  user-select: none;
  opacity: 0;
}

@media screen and (max-width: 825px) {
  .popup {
    min-width: 100%;
  }
}