.popup__input {
  min-width: 358px;
  outline-width: 0;
  border: 0;
  padding-bottom: 13px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 17px;
}
.popup__input:last-of-type {
  margin-bottom: 48px;
}
@media screen and (max-width: 825px) {
  .popup__input {
    min-width: 238px;
  }
  .popup__input:last-of-type {
    margin-bottom: 45px;
  }
}
