.popup__container {
  min-width: 430px;
  background-color: white;
  color: black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 825px) {
  .popup__container {
    min-width: 282px;
    max-width: 282px;
  }
}