.header {
  display: flex;
  min-width: 880px;
  margin: 45px auto 40px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 825px) {
  .header {
    min-width: 320px;
    max-width: 820px;
    margin-bottom: 38px;
  }
}