.popup__submit {
  min-width: 358px;
  min-height: 50px;
  outline-width: 0;
  border: 0;
  border-radius: 2px;
  background-color: black;
  color: white;
  margin-bottom: 37px;
  cursor: pointer;
  transition: 0.3s opacity linear;
}
.popup__submit:hover {
  opacity: 0.8;
}

@media screen and (max-width: 825px) {
  .popup__submit {
    min-width: 238px;
    min-height: 46px;
    margin-bottom: 25px;
  }
}